/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* formatting below */

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    1px 1px 2.1px hsl(var(--shadow-color) / 0),
    3.5px 3.5px 7.4px hsl(var(--shadow-color) / 0.11);
  --shadow-elevation-medium:
    1px 1px 2.1px hsl(var(--shadow-color) / 0),
    17.5px 17.5px 37.1px hsl(var(--shadow-color) / 0.16);
  --shadow-elevation-high:
    1px 1px 2.1px hsl(var(--shadow-color) / 0),
    24.1px 24.1px 51.1px hsl(var(--shadow-color) / 0.13),
    75px 75px 159.1px hsl(var(--shadow-color) / 0.27);
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "sidebar header"
  "sidebar maincontent"
}

.maincontent {
  grid-area: maincontent;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  background-color: rgb(237, 242, 252);
}

.sidecontent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 15px;

  width: 100%;
  box-sizing: border-box;
  align-self:start;
}



.projectcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 15px;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(47, 148, 243);
  color: white;
  font-weight: bold;
  display: grid;
  grid-column: 1 / 2;
  grid-template-rows: auto auto auto auto 1fr;
  gap: 30px;
  padding: 20px;
  min-width: 200px;
  max-width: 250px;
}

.logo {
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}

.nav, .settings {
  display: grid;
  gap: 10px;
}

.nav li, .settings li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

ul {
  padding: 0;
}


button {
  background-color: rgb(47, 148, 243);
  border-radius: 35px;
  width: 80px;
  margin: 10px;
  color: white;
  font-weight: bold;
  border: none;
  height: 35px;
}

.header {
  grid-area: header;
  display: grid;
  box-shadow: var(--shadow-elevation-low);
  z-index: 0;
}

ul {
  list-style: none;
}

.trendcontainer {
  background-color: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-low);
}

.trend {
  padding: 15px;
  display: grid;

  grid-template-areas:
  "profilepic handle"
  "profilepic headline"
}

.announcementcontainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-low);
}

.announcement {
  padding: 15px;
}

.separator {
  width: 90%;
  background-color: rgb(219, 219, 219);
  height: 2px;
  margin: 10px;
}

.project {
  background-color: white;
  border-radius: 5px;
  border-left: 7px;
  border-left-color: orange;
  border-left-style: solid;
  padding: 15px;
  box-shadow: var(--shadow-elevation-low);
  width: 100%;
}

.project p {
  margin: 0px 15px 15px 15px;
}

.project img {
  width: 20px; 
  height: auto;
  display: inline-block;
  align-content: end;
  margin-right: 5px;
  vertical-align: middle; 
}

.icon-container {
  justify-self: end;
}


h3 {
  margin: 15px 15px 0px 15px;
}

h2 {
  margin: 10px 10px 10px 0px;
}

input {
  background-color: rgb(237, 242, 252);
  border-radius: 20px;
  border: none;
  height: 1.5em;
}

ul img {
  filter: invert(1);
  height: 1.2em;
  width: auto;
  vertical-align: middle;
}

.searchbar img {
  height: 1.5em;
  width: auto;
}

.profile img {
  height: 1.5em;
  width: auto;
  align-self: center;
}

.profilepicture img {
  height: 3.3em;
  width: auto;
  align-self: center;
  margin: 0px 10px 0px 0px;
}

.trend img {
  height: 3.3em;
  width: auto;
  align-self: center;
  margin: auto auto auto auto;
}

.searchbar {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-self: center;
}

.profile {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
  justify-items: end;
  font-weight: bold;
  vertical-align: middle;
}

.profile p {
  align-self: center;
  margin: 0px 15px 0px 0px;
}

.topheader {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  vertical-align: middle;
  padding: 10px;
}

.bottomheader {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  grid-template-rows: auto;
  vertical-align: middle;
  padding: 20px 10px 10px 30px;
}

.bottomheader p {
  font-weight: bold;
}

.bottomheader h2 {
  margin: 0px;
}

.trend img {
  grid-area: profilepic;
}

.trend h4 {
  grid-area: handle;
}

.trend p {
  grid-area: headline;
}

.actions {
  justify-self: end;
}